<!DOCTYPE html>
<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/style.css"/>    
    <script src="/js/index.js" type="javascript"></script>
</head>
<body>
    {{>header}}
    <h1> page not found</h1>
    {{>footer}}
</body>