<!DOCTYPE html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css"/>    
    <script src="/js/index.js" type="javascript"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p> Contact me {{appDetails.author.email}}</p>
        <p>developed by {{appDetails.author.name}}</p>
    </div>
    {{>footer}}
</body>