<!DOCTYPE html>
<head>
    <title>Doc</title>
    <link rel="stylesheet" href="/css/style.css"/>    
    <script src="/js/index.js" type="javascript"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p> API Documentation : version - {{appDetails.version}}</p>    
    </div>
    {{>footer}}
</body>